page-login {

  color: #e8e8e8;

  .toolbar-background {
    background-color: #fff;
  }

  .logo {
    width: 50%;
    height: 50%;
    margin: 5% 0px;
  }

  .login-form ion-input {
    background: #f7f8fa;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0px;
  }

  .btn {
    border-radius: 25px;
  }

  .btn-login {
    background: #4cb906;
    color: #fff;
  }

  .btn-login-google {
    background: #f53d3d;
    color: #fff;
  }

  .m-tb-50 {
    margin: 50px 0;
  }

  .blue-text {
     color: #0190d3;
   }


}
