page-reciept {
  .toolbar-background {
    background-color: #fff;
  }

  .toolbar-title {
    color: #2d2d2d;
    font-weight: lighter;
  }

  .account-details {
    background: #F7F8FA;
    padding: 5% 10%;
  }

  .blue-text {
    color: #0190d3;
  }
}
